@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --primary-clr: hsl(322, 100%, 66%);
  --neutral-1: hsl(193, 100%, 96%);
  --neutral-2: hsl(192, 100%, 9%);
  --neutral-3: hsl(208, 11%, 55%);

  --fs: 18px;
}

.container {
  max-width: 90%;
  margin: 0 auto;
  position: relative;
}

.hero {
  background-image: url(/images/bg-hero-desktop.svg);
  background-position: center;
  background-repeat: repeat;
  background-size: contain;
  width: 100%;
  padding: 100px;
  margin: 0;
}

.hero-layout {
  display: flex;
}

/* Header section */

header {
  display: flex;
  justify-content: space-between;
  padding: 60px;
}

header a {
  cursor: pointer;
}

.try-button {
  background-color: #fff;
  color: #000;
  width: 200px;
  border-radius: 30px;
  border: none;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.mockup-image {
  width: 600px;
}

.header-text {
  width: 45%;
  align-items: center;
  font-family: 'Open Sans', sans-serif;
}

.header-text h1 {
  font-size: 33px;
}

.header-text p {
  font-family: 'Open Sans', sans-serif;
  padding: 30px 0;
}

.header-text button {
  background-color: var(--primary-clr);
  color: #fff;
  box-shadow: 2px 2px 2px 1px var(--primary-clr);
  border: none;
  width: 250px;
  padding: 10px 20px;
  border-radius: 20px;
  font-weight: bold;
}

.header-mockup {
  display: flex;
  width: 55%;
  justify-content: flex-end;
}

/* Grow together section */

.grow-together {
  margin-top: 200px;
  margin-bottom: 50px;
  display: flex;
  border-radius: 10px;
  box-shadow: 0 0 10px var(--neutral-3);
  padding: 80px;
  align-items: center;
  justify-content: space-between;
}

.grow-text {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 45%;
}

.grow-together img {
  width: 400px;
}

.grow-together h2 {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}

.grow-together p {
  font-family: 'Poppins', sans-serif;
  font-size: var(--fs);
  margin-top: 15px;
  color: var(--neutral-3);
}

/* Flowing conversations */
.flowing-conversations {
  display: flex;
  flex-direction: row-reverse;
  margin-top: 5px;
  margin-bottom: 50px;
  border-radius: 10px;
  box-shadow: 0 0 10px var(--neutral-3);
  padding: 80px;
  align-items: center;
  justify-content: space-between;
}

.flowing-text {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 45%;
}

.flowing-conversations img {
  width: 400px;
}

.flowing-conversations h2 {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}

.flowing-conversations p {
  font-family: 'Poppins', sans-serif;
  font-size: var(--fs);
  margin-top: 15px;
  color: var(--neutral-3);
}

/* Your Users */
.your-users {
  display: flex;
  margin-top: 5px;
  margin-bottom: 380px;
  border-radius: 10px;
  box-shadow: 0 0 10px var(--neutral-3);
  padding: 80px;
  align-items: center;
  justify-content: space-between;
}

.users-text {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 45%;
}

.your-users img {
  width: 400px;
}

.your-users h2 {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}

.your-users p {
  font-family: 'Poppins', sans-serif;
  font-size: var(--fs);
  margin-top: 15px;
  color: var(--neutral-3);
}

/* Community */
.community {
  display: block;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 0 10px var(--neutral-3);
  padding: 80px;
  margin: 0 auto;
  text-align: center;
  width: 70%;
  position: absolute;
  bottom: -500px; /* Adjust the value to control the overlap */
  left: 0;
  right: 0;
  z-index: 1; /* Ensure it appears above the footer */
}

.community h2 {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 35px;
  position: relative;
}

.community button {
  background-color: var(--primary-clr);
  position: relative;
  color: #fff;
  box-shadow: 2px 2px 2px 1px var(--neutral-3);
  border: none;
  width: 500px;
  padding: 30px 40px;
  border-radius: 50px;
  font-weight: bold;
  margin-top: 30px;
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
}

/* Footer */
Footer {
  background-color: var(--neutral-2);
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 250px 200px;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}

.location-text:before {
  content: url('/images/icon-location.svg');
  margin-right: 20px;
  width: 50px;
}

.location-text {
  margin-bottom: 20px;
  width: 200px;
}

.tel-num:before {
  content: url(/images/icon-phone.svg);
  margin-right: 20px;
  margin-bottom: 20px;
  width: 50px;
}

.tel-num {
  margin-bottom: 20px;
}

.email-add:before {
  content: url(/images/icon-email.svg);
  margin-right: 20px;
  width: 50px;
}

.footer-links {
  display: flex;
}

.footer-links p {
  margin: 20px 0;
}

.links-left {
  margin-right: 150px;
}

.social i {
  margin-right: 20px;
}

.social p {
  margin-top: 300px;
}

/* Links styling */
a {
  cursor: pointer;
  text-decoration: none;
}

.social a:link {
  text-decoration: none;
  color: #fff;
}

/* .social a {
  color: #fff;
} */

.start-btn {
  cursor: pointer;
}

/* About Us */
body {
  font-family: 'Open Sans', sans-serif;
}

p {
  margin: 20px 0;
}

.text-container {
  width: 70%;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 50px;
}
